<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>我的文件</title>

    <link rel="stylesheet" type="text/css" href="web_lib/bootstrap/bootstrap.min-3.2.0.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.treeview.css"/>
    <link rel="stylesheet" type="text/css" href="css/screen.css"/>
    <link rel="stylesheet" type="text/css" href="css/file.css"/>

    <script src="web_lib/jquery-1.9.0.min.js"></script>
    <script src="web_lib/vue-2.5.16.js"></script>
    <script src="web_lib/bootstrap/bootstrap.min-3.2.0.js"></script>
    <script src="web_lib/jquery.cookie.js"></script>
    <script src="web_lib/jquery.blockUI-2.70.0.js"></script>
    <script src="web_lib/util/TextUtil.js"></script>
    <script src="web_lib/util/FolderUtil.js"></script>
    <!--<script src="web_lib/canvas-nest.min.js"></script>-->

    <script src="js/jquery.treeview.js"></script>

    <script src="js/file_main.js"></script>
    <script src="js/file_move.js"></script>
    <script src="js/file_sort.js"></script>

    <script src="js/index.js"></script>
</head>
<body>

<div id="root">

    <!--导航栏-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand">我的文件</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        排序方式
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/showFileList?orderStyle=0&path=${encodedPath}" tabindex="-1">文件名</a>
                        </li>
                        <li>
                            <a href="/showFileList?orderStyle=2&path=${encodedPath}" tabindex="-1">创建时间</a>
                        </li>
                        <li>
                            <a href="/showFileList?orderStyle=4&path=${encodedPath}" tabindex="-1">文件大小</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="chooseAllFile()">全选</a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="chooseReverseFile()">反选</a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        批量操作
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);" onclick="confirmDeleteSelectedFileOrDir('${encodedPath}')"
                               tabindex="-1">删除所有选中的文件</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="mkdir('${encodedPath}')">新建文件夹</a>
                </li>
            </ul>
            <form id="uploadFileForm" class="navbar-form" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="hidden" name="encodedPath" value="${encodedPath}">
                    <input type="file" class="form-control" name="uploadFile">
                </div>
                <input type="button" class="btn btn-primary" onclick="uploadNewFile()" value="上传">
            </form>
        </div>
    </div>

    <!--地址栏-->
    <div>
        <ol class="breadcrumb">
            <button class="btn btn-info" onclick="back()" style="margin-right: 10px">返回上一级</button>
            <button class="btn btn-default" onclick="window.location.reload()" style="margin-right: 30px">刷新</button>
            <li><a class="address" href="index.html">根目录</a></li>
            <div v-for="(navigate, index) in navigateList">
                <div v-if="index < navigateList.length - 1">
                    <!--encodedPath = /-->
                    <!--encodedPath = encodedPath/navigate/ 反斜杠要换成%2F-->
                    <li><a class="address" href="file.jsp?encodedPath=${encodedPath}">{{navigate}}</a></li>
                </div>
                <div v-else>
                    <li class="active">{{navigate}}</li>
                </div>
            </div>
        </ol>
    </div>

    <!--进度条-->
    <div class="progress progress-striped active" id="progress" style="display: none">
        <div class="progress-bar progress-bar-success" id="progressBar" style="width: 100%">正在上传</div>
    </div>

    <!--表格-->
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>选择</th>
                <th>序号</th>
                <th onclick="btnSortByName()">文件名<span id="ic_sort_by_name"></span></th>
                <th onclick="btnSortBySize()">文件大小<span id="ic_sort_by_size"></span></th>
                <th onclick="btnSortByTime()">修改时间<span id="ic_sort_by_time"></span></th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, index) in fileItemList" click="chooseFile(index)">
                <!--<c:set var="name" value="${item.name}"/>-->
                <!--<c:set var="isDir" value="${item.directory}"/>-->
                <!--<c:set var="fileHref" value="${relativePath}${name}"/>-->
                <!--<c:set var="dirHref" value="file.jsp?encodedPath=${encodedPath}${name}%2F"/>-->
                <!--多选按钮-->
                <td>
                    <input type="checkbox" :click="chooseFile(index)" class="cbFile" :fileName="item.name"/>
                </td>
                <!--序号-->
                <td>{{index+1}}</td>
                <!--文件名和图标-->
                <td>
                    <div class="img_type_box"><img id="img_type" :src="item.iconUrl"></div>
                    <a :href="item.directory ? '#' : ('/' + item.name)"
                       :target="item.directory ? '_self' : '_blank'">{{item.name}}</a>
                </td>
                <!--文件大小-->
                <td>{{item.directory ? "-" : item.size}}</td>
                <!--创建时间-->
                <td>{{item.lastModifiedDate}}</td>
                <!--操作按钮-->
                <td>
                    <a :href="item.directory ? '#' : ('/' + item.name)"
                       class="btn btn-info btn-xs"
                       :download="item.name">下载</a>
                    <a href="javascript:void(0);" @click="confirmDeleteFileOrDir(item, encodedPath)"
                       class="btn btn-danger btn-xs">删除</a>
                    <a href="javascript:void(0);" @click="chooseDirToMove(encodedPath + item.name)"
                       class="btn btn-warning btn-xs">移动</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<!--文件移动的模态弹出窗-->
<div class="modal fade" id="choose_dir_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">移动到</h4>
            </div>
            <div class="modal-body">
                <div id="file_tree">模态弹出窗主体内容</div>
                <p>选择的目录：<span id="choose_dir"></span></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" onclick="moveFileOrDir()" id="btn_confirm_move">移动</button>
            </div>
        </div>
    </div>
</div>
<!-- 文件移动的模态弹出窗 -->

</body>
</html>